body{
    margin: 0;
    padding: 0;
}

.header {
    background-color: #EBEFF7;
    display: flex;
}

.header h1{
    margin: 0;
    padding: 10px;
}

.header h1 a{
    text-decoration: none;
    color: black;
}

.Contributor {
    margin-left: auto;
    margin-right: 20px;
    padding: 10px;
}

.title a img{
    margin-left: 20px;
    height: 70px;
    width: 100px;
    object-fit: cover;
}

.title a{
    text-decoration: none;
    color: black;
}

.Contributor button{
    width: 100px;
    padding: 7px;
    background-color: #ffffff;
    border: 0.5px solid #000000;
    border-radius: 0.67em;
}

.browse{
    margin-right: 20px;
    padding: 10px;
}

.browse button{
    width: 100px;
    padding: 7px;
    background-color: #ffffff;
    border: 0.5px solid #000000;
    border-radius: 0.67em;
}

.select{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.article {
    border: 2px solid #d3e1fc;
    margin: 10px;
    padding: 10px;
    width: 22.4%;
    text-align: center;
}

.article img{
    height: 300px;
    width: 280px;
    object-fit: cover;
}

.article a{
    text-decoration: none;
    color: #000000;
}