body{
    margin: 0;
    padding: 0;
}

.header {
    background-color: #EBEFF7;
    display: flex;
}

.header h1{
    margin: 0;
    padding: 10px;
}

.header h1 a{
    text-decoration: none;
    color: black;
}

.Contributor {
    margin-left: auto;
    margin-right: 20px;
    padding: 10px;
}

.Contributor button{
    width: 100px;
    padding: 7px;
    background-color: #ffffff;
    border: 0.5px solid #000000;
    border-radius: 0.67em;
}

.browse{
    margin-right: 20px;
    padding: 10px;
}

.browse button{
    width: 100px;
    padding: 7px;
    background-color: #ffffff;
    border: 0.5px solid #000000;
    border-radius: 0.67em;
}