body{
    margin: 0;
    padding: 0;
}

.title{
    background-color: #ebeff7;
}

.title h1{
    margin: 0;
    padding: 10px;
}

.edit{
    text-align: right;
    padding: 10px;
}

.edit button{
    width: 100px;
    padding: 7px;
    background-color: #ebeff7;
    border: 0.5px solid #000000;
    border-radius: 0.67em;
}

.image{
    margin: 20px;
}

.image img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.detail{
    text-align: center;
}

.links{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.links a{
    text-decoration: none;
    color: black;
}

.links button{
    width: 100px;
    padding: 7px;
    background-color: #ebeff7;
    border: 0.5px solid #000000;
    border-radius: 0.67em;
}